[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.0"
psycopg2-binary = "==2.9.3"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-allauth = "*"
django-environs = "*"
environs = {extras = ["django"], version = "*"}
pillow = "*"
django-debug-toolbar = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.12"
